# Segmenting and clustering Neighboors in Torornto

In [46]:
#Libraries

import numpy as np
import pandas as pd


import requests
from pandas.io.json import json_normalize
import json

import requests

from bs4 import BeautifulSoup

from geopy.geocoders import Nominatim

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

In [47]:
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(data, 'html.parser')

In [48]:
postalCodeList = []
boroughList = []
neighborhoodList = []

for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n'))

In [49]:
toronto_stats = [('PostalCode', postalCodeList),
                      ('Borough', boroughList),
                      ('Neighborhood', neighborhoodList)]
toronto_df = pd.DataFrame.from_dict(dict(toronto_stats))
toronto_df.head()

            Borough      Neighborhood PostalCode
0      Not assigned      Not assigned        M1A
1      Not assigned      Not assigned        M2A
2        North York         Parkwoods        M3A
3        North York  Victoria Village        M4A
4  Downtown Toronto      Harbourfront        M5A

In [50]:
toronto_df_clean = toronto_df[toronto_df.Borough != 'Not assigned'].reset_index(drop=True)
toronto_df_clean.head()

            Borough      Neighborhood PostalCode
0        North York         Parkwoods        M3A
1        North York  Victoria Village        M4A
2  Downtown Toronto      Harbourfront        M5A
3  Downtown Toronto       Regent Park        M5A
4        North York  Lawrence Heights        M6A

In [51]:
toronto_df_grouped = toronto_df_clean.groupby(['PostalCode','Borough'], as_index=False).agg(lambda x: ','.join(x))
toronto_df_grouped.head()
toronto_df_grouped.shape

(103, 3)

In [52]:
url="http://cocl.us/Geospatial_data"
coordinates = pd.read_csv(url)
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [53]:
toronto_df_tojoin = toronto_df_grouped.set_index('PostalCode')
coordinates_tojoin = coordinates.set_index('Postal Code')
toronto_df_coordinates = pd.concat([toronto_df_tojoin, coordinates_tojoin], axis=1, join='inner')
toronto_df_coordinates.index.name = 'PostalCode'
toronto_df_coordinates.head()

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [54]:
toronto_df_coordinates.reset_index(inplace=True)
toronto_df_coordinates.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [55]:
print(toronto_df_coordinates.shape)

(103, 5)

# Part 2

In [56]:
address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="tl-toronto-neigh")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Toronto are 43.653963, -79.387207.

In [57]:
#boroughs that contain the word Toronto 

toronto_boroughs = ['East Toronto', 'Central Toronto', 'Downtown Toronto', 'West Toronto']
toronto_central_df = toronto_df_coordinates[toronto_df_coordinates['Borough'].isin(toronto_boroughs)].reset_index(drop=True)
print(toronto_central_df.shape)
toronto_central_df.head()

(38, 5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M4E,East Toronto,The Beaches,43.676357,-79.293031
1,M4K,East Toronto,"The Danforth West,Riverdale",43.679557,-79.352188
2,M4L,East Toronto,"The Beaches West,India Bazaar",43.668999,-79.315572
3,M4M,East Toronto,Studio District,43.659526,-79.340923
4,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

In [58]:
#Foursquare

CLIENT_ID = 'EWVQKEI1UL1GV0H40ZWXH4E34AVNNQNZPTAW42CBWXMCH45Q' # your Foursquare ID
CLIENT_SECRET = 'BT0C1TSMTT1XWOECFJFHTHAEGG1BXNQXYVGLNAIEIG5BY2GK' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

# recomanded places

In [59]:
radius = 500
LIMIT = 100

venues = []

for lat, long, post, borough, neighborhood in zip(toronto_central_df['Latitude'], toronto_central_df['Longitude'], toronto_central_df['PostalCode'], toronto_central_df['Borough'], toronto_central_df['Neighborhood']):
    url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT)
    
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    for venue in results:
        venues.append((
            post, 
            borough,
            neighborhood,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

In [60]:
venues_df = pd.DataFrame(venues)
venues_df.columns = ['PostalCode', 'Borough', 'Neighborhood', 'BoroughLatitude', 'BoroughLongitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']
print(venues_df.shape)
venues_df.head()

(1699, 9)

,PostalCode,Borough,Neighborhood,BoroughLatitude,BoroughLongitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,M4E,East Toronto,The Beaches,43.676357,-79.293031,The Big Carrot Natural Food Market,43.678879,-79.297734,Health Food Store
1,M4E,East Toronto,The Beaches,43.676357,-79.293031,Grover Pub and Grub,43.679181,-79.297215,Pub
2,M4E,East Toronto,The Beaches,43.676357,-79.293031,Starbucks,43.678798,-79.298045,Coffee Shop
3,M4E,East Toronto,The Beaches,43.676357,-79.293031,Upper Beaches,43.680563,-79.292869,Neighborhood
4,M4E,East Toronto,The Beaches,43.676357,-79.293031,Dip 'n Sip,43.678897,-79.297745,Coffee Shop

# group and count by postal code

In [61]:
count_df = venues_df.groupby(['PostalCode', 'Borough', 'Neighborhood'])['VenueName'].count()
count_df

PostalCode  Borough           Neighborhood
M4E         East Toronto      The Beaches                                                                                               5
M4K         East Toronto      The Danforth West,Riverdale                                                                              42
M4L         East Toronto      The Beaches West,India Bazaar                                                                            21
M4M         East Toronto      Studio District                                                                                          39
M4N         Central Toronto   Lawrence Park                                                                                             4
M4P         Central Toronto   Davisville North                                                                                          8
M4R         Central Toronto   North Toronto West                                                                                       20
M4S         Central Toronto   Davisville                                                                                               37
M4T         Central Toronto   Moore Park,Summerhill East                                                                                2
M4V         Central Toronto   Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West                                            14
M4W         Downtown Toronto  Rosedale                                                                                                  4
M4X         Downtown Toronto  Cabbagetown,St. James Town                                                                               46
M4Y         Downtown Toronto  Church and Wellesley                                                                                     86
M5A         Downtown Toronto  Harbourfront,Regent Park                                                                                 46
M5B         Downtown Toronto  Ryerson,Garden District                                                                                 100
M5C         Downtown Toronto  St. James Town                                                                                          100
M5E         Downtown Toronto  Berczy Park                                                                                              55
M5G         Downtown Toronto  Central Bay Street                                                                                       83
M5H         Downtown Toronto  Adelaide,King,Richmond                                                                                  100
M5J         Downtown Toronto  Harbourfront East,Toronto Islands,Union Station                                                         100
M5K         Downtown Toronto  Design Exchange,Toronto Dominion Centre                                                                 100
M5L         Downtown Toronto  Commerce Court,Victoria Hotel                                                                           100
M5N         Central Toronto   Roselawn                                                                                                  1
M5P         Central Toronto   Forest Hill North,Forest Hill West                                                                        4
M5R         Central Toronto   The Annex,North Midtown,Yorkville                                                                        24
M5S         Downtown Toronto  Harbord,University of Toronto                                                                            35
M5T         Downtown Toronto  Chinatown,Grange Park,Kensington Market                                                                 100
M5V         Downtown Toronto  CN Tower,Bathurst Quay,Island airport,Harbourfront West,King and Spadina,Railway Lands,South Niagara     14
M5W         Downtown Toronto  Stn A PO Boxes 25 The Esplanade                                                                          94
M5X         Downtown Toronto  First Canadian Place,Underground city                                                                   100
M6G         Downtown Toronto  Christie                                                                                                 16
M6H         West Toronto      Dovercourt Village,Dufferin                                                                              18
M6J         West Toronto      Little Portugal,Trinity                                                                                  65
M6K         West Toronto      Brockton,Exhibition Place,Parkdale Village                                                               22
M6P         West Toronto      High Park,The Junction South                                                                             24
M6R         West Toronto      Parkdale,Roncesvalles                                                                                    16
M6S         West Toronto      Runnymede,Swansea                                                                                        37
M7Y         East Toronto      Business Reply Mail Processing Centre 969 Eastern                                                        17
Name: VenueName, dtype: int64